ul li::before{
    content: none;
}

section div{
    margin-left: 2rem;
    width: auto;
    border-color: #919090;
}

.main-section{
    margin-bottom: 1rem;
}

.icon{
    float: left;
    width: 3rem;
    height: 3rem;
    line-height: 1.1rem;
}

ul.cloud{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 2.5rem;
}

ul.cloud li{
    display: block;
    font-size: 1.5rem;
    padding: 0.125rem 0.25rem;
    text-decoration: none;
    position: relative;  
}

ul.cloud li::after{
    content: ",";
}

ul.cloud li:last-child::after{
    content: none;
}

.content-div{
    margin: 1rem 0 1rem;
}