
ul{
    display:flex;  
    list-style:none;
}
ul li{
    width: auto;
}

ul li::before{
    content: none;
}


section div{
    margin-left: 2rem;
    width: auto;
    border-color: #919090;
}

.section{
    margin-bottom: 3rem;
}